/*                ===== MESSAGING FIXES =====
 * removes a couple misc features that generally interfere with
 * messaging, like the nitro section in DMs and the "send gift"
 * button
 */
li[class^="channel"]:has(a[href*="/store"]) {
  /* removes the nitro category in DMs, seriously why is it even there */
  display: none !important;
}

li[class^="channel"]:has(a[href*="/shop"]) {
  /* removes the shop category in DMs, the guy seems like a creep */
    display: none;
}

/*[class^="inner"] [class^="buttons" i] button:has(path[d^="M16.886 7.999H20C21.104"]) old selector (pre-06/12/2023) */
[class^="inner"] [class^="buttons" i] button:has(path[d^="M4 6a4 4 0 0 1 4-4h.09c"]) { 
  /* 
   * removes the "send a gift" button through selecting the svg
   * may break if the svg is changed
   */
  display: none !important;
}

[class^="shinyButton"] {
  /* removes the "get nitro" button from the emoji click popout thing */
  display: none !important;
}
