/*                ===== MESSAGING FIXES =====
 * removes a couple misc features that generally interfere with
 * messaging, like the nitro section in DMs and the "send gift"
 * button
 */
[class^="channel"]:has(a[href*="/store"]),
[class^="channel"]:has(a[href*="/shop"]) {
  /* removes the nitro and shop categories in DMs, seriously why is it even there */
  display: none !important;
}

[class^="inner"] [class^="buttons" i] [class*=grow]:has(path[d^=" M-7,10 C-8.1049"]){ 
  /* 
   * removes send a gift button by selecting the element before the first .expression-...-button
   * old version left in case of rollback or whatever, now it targets the svg code
   */
  display: none !important;
}

[class^=iconWrapper]:has(path[d^="M4 5a3 3 0 0 1"]) {
  /*
   * removes the "bookmarks" shit from the top bar cuz it's nitro exclusive
   */
    display: none;
}

[class^="shinyButton"] {
  /* removes the "get nitro" button from the emoji click popout thing */
  display: none !important;
}
