/*                        ===== PROFILES =====
 * removes all the sections in the profile menu relating to nitro features
 * like *decorations* and the whole-ass profile colour selector thing
 */

[class*="containerDefault"]:has(img[class*="art" i]) {
  /* 
   * remove the box that prompts you to get "new and amazing" avatar decorations
   * it might not work if there's no art, this was designed for the halloween 2023 campaign
   */
  display: none !important;
}

[class^="customizationSection"]:has(svg[class^="nitroWheel"]) {
  /* remove profile effects section */
  display: none;
}

[class^="customizationSection"]:has(+ [class^="customizationSection"]:has(svg[class^="nitroWheel"])) {
  /* remove profile decoration section (assumed to preced effects) */
  display: none;
}

[class*="tryItOut"], [class*="upsellOverlay"] {
  /* removes the massive box at the bottom with things you unlock when you get nitro, also the one in individual server profiles */
  display: none;
}
