/*            ===== SETTINGS FIXES ===== 
 * removes all the nitro-related sections from settings
 */

[class^="header" i]:has(+ [class*="premiumTab" i]) {
  /* removes the payment settings title in settings */
  display: none !important;
}

[data-tab-id*="nitro" i], [class*="premiumTab" i] {
  /* removes the nitro+boost sections in settings, + double check to make sure it does its job */
  display: none !important;
}

[data-tab-id*="subscriptions" i] {
  /* removes the subscriptions tab in settings */
  display: none !important;
}

[data-tab-id*="library" i] {
  /* removes the inventory library tab in settings */
  display: none !important;
}

[data-tab-id*="billing" i] {
  /* removes the billing tab in settings */
  display: none !important;
}

[data-tab-id*="billing" i] + [class*="separator" i] {
  /* hide the separator after the nitro settings section */
  display: none !important;
}

[data-tab-id*="merchandise" i] {
  /* removes the link to the merch store */
  display: none !important;
}
